# echo "AIRFLOW_UID=$(id -u)" >> .env
AIRFLOW_UID=1000

# python3 -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
FERNET_KEY=L5NwrwBd**************************lbyV4s7AY=

_PIP_ADDITIONAL_REQUIREMENTS='apache-airflow-providers-mongo apache-airflow-providers-google pandas pydantic-settings'

# настройки mongodb
MONGO_USER='user'
MONGO_PASS='pass'
MONGO_HOST='localhost'
MONGO_PORT=27017
MONGO_DB_NAME='my_db'