# echo "AIRFLOW_UID=$(id -u)" >> .env
AIRFLOW_UID=1000

# python3 -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
FERNET_KEY=L5NwrwBd**************************lbyV4s7AY=

# _PIP_ADDITIONAL_REQUIREMENTS=